.gallery {
    width: 95%;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: stretch;
    margin-top: 15px;
    padding: 5px;
}

.gallery-container {
    background: black;
    border: 4px solid black;
    /* 🔥 thick border */
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);

    aspect-ratio: 3 / 2;
    /* 🔑 makes it aspect ration 3:2 */
    display: flex;
    /* 🔑 center image */
    align-items: center;
    justify-content: center;

    overflow: hidden;
    /* prevents overflow on hover */
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 🔑 keeps aspect ratio */
    transition: transform 0.4s ease;
}

/* Hover Effect */
.gallery-container:hover img {
    transform: scale(1.1);
}